.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; 
  }
  
  .card {
    width: calc(25% - 20px); 
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  